extends ../layouts/navbar

block content
    h1.jumbotron.text-center Sources Upload
    .container
        .row
            .col.col-4-lg
            .col.col-4-lg
                form.jumbotron(method='POST', enctype='multipart/form-data')
                    .form-group
                        if errors.title
                            .alert.alert-danger.text-center #{errors.title}
                        label(for='title') Title
                        input#title.form-control(type='text', name='title', placeholder='Enter title', value=source.title || '')
                    .form-group
                        if errors.description
                                .alert.alert-danger.text-center #{errors.description}
                        label(for='description') Description
                        input#description.form-control(type='text', name='description', placeholder='Enter description', value=source.description || '')
                    .form-group
                        if errors.file
                                .alert.alert-danger.text-center #{errors.file}
                        label(for='file') Description
                        input#file.form-control(type='file', name='file_upload')
                    .form-group.text-center
                        button.btn.btn-primary.mb-2(type='submit') Upload
            .col.col-4-lg