.container
    .row
        .col.col-4-lg
        .col.col-4-lg
            form.jumbotron.form-edit-user(method='POST')
                input(type='hidden', value=method, name="_method")
                if csrfToken
                    input(type='hidden', value=csrfToken, name='_csrf')
                .form-group
                    if errors && errors.firstName
                        .alert.alert-danger.text-center #{errors.firstName}
                    label(for='firstName') First Name
                    input#firstName.form-control(type='text', name='firstName', placeholder='Enter First Name', value=user.firstName || '')
                .form-group
                    if errors && errors.lastName
                        .alert.alert-danger.text-center #{errors.lastName}
                    label(for='lastName') Last Name
                    input#lastName.form-control(type='text', name='lastName', placeholder='Enter Last Name', value=user.lastName || '')
                .form-group
                    if errors && errors.username
                        .alert.alert-danger.text-center #{errors.username}
                    label(for='username') Username
                    input#username.form-control(type='text', name='username', placeholder='Enter username', value=user.username || '')
                .form-group
                    if errors && errors.password
                        .alert.alert-danger.text-center #{errors.password}
                    label(for='password') Password
                    input#password.form-control(type='password', name='password', placeholder='Enter password', value=user.password || '')
                .form-group
                    if errors && errors.passwordPair
                        .alert.alert-danger.text-center #{errors.passwordPair}
                    label(for='passwordPair') Password
                    input#passwordPair.form-control(type='password', name='passwordPair', placeholder='Enter password', value=user.passwordPair || '')
                .form-group
                    if errors && errors.email
                        .alert.alert-danger.text-center #{errors.email}
                    label(for='email') Email
                    input#email.form-control(type='text', name='email', placeholder='Enter email', value=user.email || '')
                .form-group.text-center
                    button.btn.btn-primary.mb-2(type='submit')= userLogin && userLogin.roles.includes('admin') ? 'Save' : 'Register'
                    input.btn.btn-default.mb-2(type='button', onClick="history.go(-1);", value="Cancel")
        .col.col-4-lg
    script(defer, type="text/javascript", src="/js/form-edit-user.js")
        